@using Web_App.AppCode.Helper.Language
@using WebApp.Helpers

@{
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}

<script src="~/Scripts/Views/Solicitud/CalificarSolicitud/vCalificarTrabajo.js"></script>
<script src="~/Scripts/addons/rating.min.js"></script>

<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class=" brand-font pt-4">@LanguageHelper.IniciarSolicitudTrabajo</h1>
        </div>
        <hr>

        <div class="col-12">
            <p class="lead">@LanguageHelper.IniciarSolicitudTrabajoDescripcion</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="card col-10 p-0  mt-3">

            <div class="card-body p-0 rounded-lg">

                <div id="main" class="p-0">

                    <div class="w-75 container">
                        <!--Contenedor Calificacion Trabajo-->
                        <div class="row py-3">
                            <div class="col-12 text-center">
                                <p class="h6 font-weight-bold">@LanguageHelper.CalificacionTrabajo</p>
                            </div>
                        </div>

                        <div class="row form-row d-flex justify-content-center">
                            <div class="col-sm-12 col-lg-8 text-center">
                                <div class="md-form">
                                    <input type="text" id="inputComentarioTrabajo" ColumnDataName="ComentarioTrabajo" class="form-control form-control-lg">
                                    <label for="inputComentarioTrabajo">@LanguageHelper.ComentariorTrabajo</label>
                                </div>
                            </div>

                            <div class="col-sm-12 col-lg-4 align-self-center text-warning" style="font-size: 23px;">
                                <span id="rateTrabajo" class="empty-stars pl-3"></span>
                            </div>
                        </div>

                        <!--Contenedor Calificacion Trabajador-->
                        <div class="row py-3">
                            <div class="col-12 text-center">
                                <p class="h6 font-weight-bold">@LanguageHelper.CalificacionTrabajador</p>
                            </div>
                        </div>

                        <div class="row form-row d-flex justify-content-center">
                            <div class="col-sm-12 col-lg-8 text-center">
                                <div class="md-form">
                                    <input type="text" id="inputComentarioTrabajador" ColumnDataName="ComentarioTrabajador" class="form-control form-control-lg">
                                    <label for="inputComentarioTrabajador">@LanguageHelper.ComentarioTrabajador</label>
                                </div>
                            </div>

                            <div class="col-sm-12 col-lg-4 align-self-center text-warning" style="font-size: 23px;">
                                <span id="rateTrabajador" class="empty-stars pl-3"></span>
                            </div>
                        </div>

                        <!--Contenedor Calificacion Empresa-->
                        <div class="row py-3">
                            <div class="col-12 text-center">
                                <p class="h6 font-weight-bold">@LanguageHelper.CalificacionEmpresa</p>
                            </div>
                        </div>

                        <div class="row form-row d-flex justify-content-center">
                            <div class="col-sm-12 col-lg-8 text-center">
                                <div class="md-form">
                                    <input type="text" id="inputComentarioEmpresa" ColumnDataName="ComentarioEmpresa" class="form-control form-control-lg">
                                    <label for="inputComentarioEmpresa">@LanguageHelper.ComentarioEmpresa</label>
                                </div>
                            </div>

                            <div class="col-sm-12 col-lg-4 align-self-center text-warning" style="font-size: 23px;">
                                <span id="rateEmpresa" class="empty-stars pl-3"></span>
                            </div>
                        </div>

                    </div>
                    


                </div>
            </div>

            <div class="text-center pt-3">
                <button id="btnGuardar" class="btn btn-primary btn-lg">@LanguageHelper.Guardar</button>
            </div>
        </div>
    </div>
</div>